body {
    align-content: center;
    background-color: blanchedalmond;
    font-family: 'Roboto', sans-serif;
}

#container {
    align-content: center;
    background-color: aquamarine;
    width: 800px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #000;
}

header {
    padding-top: 20px;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

header img {
    align-content: center;
    display: block;
    width: 35%;
    margin: 0px auto;
}

header h1 {
    align-content: center;
    font-size: 2.5em;
    text-align: center;
    color: brown;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    text-shadow: 2px 2px 2px black;
}

nav {
    background-color: rgb(61, 139, 15);
    padding-top: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    background-color: #cef299;
    height: 40px;
    width: 175px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 40px;
    color: #4c5973;
    text-decoration: none;
    border-radius: 20px 20px 0 0;
    margin: 0 10px;
}

nav a:hover {
    align-content: center;
    background-color: #4c5973;
    color:#cef299
}

main {
    align-content: center;
    background-color: #cef299;
    padding: 20px;
    margin: 0 20px 20px 20px;

}

main h2 {
    text-align: center;
    color: #4c5973;
    font-size: 2em;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

main img {
    align-content: center;
    display: block
    width 20%;
    margin: 20px auto;
    background-color: #4c5973;
    padding: 20px;
    border-radius: 20px;
}

footer {
    background-color: #cef299;
    padding: 40px 0;
    color:#f26060;
    font-size: 1.5em;
    text-align: center;
    border-radius: 0 0 20px 20px;
}

.active {
    background-color: #4c5973;
    color:#cef299
}

.pro_head {
    text-align: center;
    color:#f26060;
    font-size: 1.5em;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}