/* Global Styles */
body {
    background-color: rgb(47, 182, 175);
    font-family: 'Radio Canada', sans-serif;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}


/* Mobile Styles */

#container {
    background-color: rgb(17, 96, 121);
    margin: 20px auto;
}

header {
    background-image: url("../images/AdobeStock_163153027_Preview.jpeg");
    background-size: cover;
    padding: 20% 0;
}

header h1 {
    color: rgb(108, 142, 169);
    text-shadow: 2px 2px 2px;
    text-align: center;
    font-size: 3em;
}

nav ul {
    list-style-type: none;
    padding: 0%;
}

nav li {
    display: block;
}

nav li a{
    display: block;
    background-color: rgb(81, 149, 126);
    color: rgb(17, 59, 59);
    height: 30px;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    margin: 10px 0px;
    border-radius: 30px;
}

nav li a:hover {
    background-color: rgb(97, 160, 205);
    text-shadow: 2px 2px 2px;
}

nav, section, aside, .col, footer {
    background-color: rgb(47, 123, 185);
    padding: 20px;
    margin: 10px auto;
    border: 4px solid rgb(71, 122, 204);
    border-radius: 30px;
}

h2, h3 {
    color: rgb(0, 38, 42);
    text-shadow: 0px 0px 0px;
    font-size: 1.5em;
    text-align: center;
}

section img, aside img {
    width: 50%;
}

.button {
    display: block;
    background-color: rgb(99, 126, 153);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 130px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px auto;
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(81, 153, 194);
    text-shadow: 2px 2px 2px;
}

footer {
    text-align: center;
    color: rgb(51, 49, 47);
}

.single_col{
    width: 86%;
}

audio, video {
    display: block;
    margin: 20px auto;
    width: 75%;
}

.gallery_img {
    border: 4px solid rgb(61, 174, 219);
    border-radius: 10px;
    margin: 10px auto;
}

table {
    display: none;
}

/* Tablet Styles */

@media(min-width: 768px) {
    header {
        padding: 125px;
    }

    header h1 {
        font-size: 3em;
    }

    nav {
        text-align: center;
        padding: 10px
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        height: 50px;
        line-height: 50px;
        width: 200px;
    }

    #upper_flex {
        display:flex
    }

    section, aside {
        width: 50%;
    }

    aside img {
        width: 50%;
    }

    .col img {
        width: 60%;
        border-radius: 10px;
        border: 4px solid rgb(81, 186, 160)
    }
    .single_col{
        width: 100%;
    }


}


/* Desktop Styles */

@media(min-width: 1024px) {
    #container {
        width: 75%;
        margin: 20px auto;
        border: 4px solid rgb(94, 198, 155);
        border-radius: 20px;
    }

    header {
        border-radius: 20px 20px 0 0;
    }

    nav li a {
        margin: 0 0px;
    }
    
    #lower_flex {
        display: flex;
    }

    .col {
        width: 100%;
    }

    .col img {
        width: 100%;
    }
    .single_col {
    width: 100%;
    }

}

table, tr, td {
    border: 2px solid rgb(66, 82, 161);
    padding: 10px;
    margin: 10px auto;
}

table img {
    width: 100%;
}

table {
    display: block;
}

