/* Global Styles */
body {
    background-color: blanchedalmond;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Mobile Styles */


/* Tablet Styles */


/* Desktop Styles */